* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    position: relative;
}

@media(max-width: 1024px) {
    .container {
        padding: 0 20px;
    }
}

.header {
    left: 0;
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    background: transparent;
}

@media(max-width: 1024px) {
    .header {
        padding: 21px 0;
    }
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #BABBC5;

}

@media(max-width: 767px) {
    .header__wrapper {
        border: none;
    }
}

.header__menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media(max-width: 767px) {
    .header__menu {
        position: fixed;
        left: -100%;
        flex-direction: column;
        width: 100%;
        border-radius: 10px;
        text-align: center;
    }
}

.header__menu-link {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    padding: 38px 15px 36px;
    min-width: 134px;
    display: inline-block;
}

.header__menu-link:hover {
    border-bottom: 3px solid #BABBC5;
}

@media(max-width: 1024px) {
    .header__menu-link {
        font-size: 12px;
        line-height: 14px;
        padding: 36px 0 32px;
        min-width: 112px;
    }
}

.header__hamburger {
    display: none;
}

.header__hamburger-bar {
    display: block;
    width: 24px;
    height: 3px;
    margin: 3px auto;
    background-color: #FFFFFF;
}

@media(max-width: 767px) {
    .header__hamburger {
        display: block;
    }

    .header__logo {
        max-width: 130px;
        ;
    }
}

.banner {
    background: url(assets/background.jpg);
    padding: 262px 0 120px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

@media(max-width: 1024px) {
    .banner {
        padding: 316px 0 126px;
    }
}

@media(max-width: 767px) {
    .banner {
        padding: 140px 0 52px;
    }
}

.banner::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: #252B49;
    mix-blend-mode: normal;
    opacity: 0.8;
    left: 0;
    top: 0;
    position: absolute;
}

.banner__title {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 31.43px;
}

@media(max-width: 1024px) {
    .banner__title {
        font-size: 48px;
        line-height: 56px;
        margin-bottom: 62px;
    }
}

@media(max-width: 767px) {
    .banner__title {
        font-size: 36px;
        line-height: 42px;
        margin-bottom: 32.471px;
    }
}

.banner__description {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 82px;
}

@media(max-width: 1024px) {
    .banner__description {
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 91.57px;
    }
}

@media(max-width: 767px) {
    .banner__description {
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 51.10px;
    }
}

.banner__button {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #FF4343;
    border: none;
    display: block;
    max-width: 370px;
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
}

@media(max-width: 1024px) {
    .banner__button {
        font-size: 24px;
        line-height: 28px;
        max-width: 314px;
        padding: 15px 0;
    }
}

@media(max-width: 767px) {
    .banner__button {
        max-width: 280px;
    }
}