* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}
@media (max-width: 1024px) {
  .container {
    padding: 0 20px;
  }
}

.header {
  left: 0;
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  background: transparent;
}
@media (max-width: 1024px) {
  .header {
    padding: 21px 0;
  }
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #BABBC5;
}
@media (max-width: 767px) {
  .header__wrapper {
    border: none;
  }
}
.header__menu {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 767px) {
  .header__menu {
    position: fixed;
    left: -100%;
    flex-direction: column;
    width: 100%;
    border-radius: 10px;
    text-align: center;
  }
}
.header__menu-link {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
  padding: 38px 15px 36px;
  min-width: 134px;
  display: inline-block;
  border-bottom: 3px solid transparent;
}
.header__menu-link:hover {
  border-bottom: 3px solid #BABBC5;
}
@media (max-width: 1024px) {
  .header__menu-link {
    font-size: 12px;
    line-height: 14px;
    padding: 36px 0 32px;
    min-width: 112px;
  }
}
.header__hamburger {
  display: none;
}
@media (max-width: 767px) {
  .header__hamburger {
    display: block;
  }
}
.header__hamburger-bar {
  display: block;
  width: 24px;
  height: 3px;
  margin: 3px auto;
  background-color: #FFFFFF;
}
@media (max-width: 767px) {
  .header__logo {
    max-width: 130px;
  }
}

.banner {
  background: url(../background.jpg);
  padding: 262px 0 120px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  margin-bottom: 127px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .banner {
    padding: 316px 0 126px;
    margin-bottom: 87px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .banner {
    padding: 140px 0 52px;
    margin-bottom: 57px;
  }
}
.banner::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: #252B49;
  mix-blend-mode: normal;
  opacity: 0.8;
  left: 0;
  top: 0;
  position: absolute;
}
.banner__title {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 31.43px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .banner__title {
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 62px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .banner__title {
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 32.471px;
  }
}
.banner__description {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 82px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .banner__description {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 91.57px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .banner__description {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 51.1px;
  }
}
.banner__button {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #FF4343;
  border: none;
  display: block;
  max-width: 370px;
  width: 100%;
  margin: 0 auto;
  padding: 26px 0;
  text-decoration: none;
}
.banner__button:hover {
  background: #E71414;
}
.banner__button:active {
  background: #FF4343;
  box-shadow: 4px 4px 30px #FF4343;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .banner__button {
    font-size: 24px;
    line-height: 28px;
    max-width: 314px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .banner__button {
    max-width: 280px;
    padding: 16px 0;
  }
}

.benefits {
  margin-bottom: 134px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .benefits {
    margin-bottom: 80px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .benefits {
    margin-bottom: 35px;
  }
}
.benefits__content {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 29px;
       column-gap: 29px;
  row-gap: 97px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .benefits__content {
    -moz-column-gap: 20px;
         column-gap: 20px;
    row-gap: 57px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .benefits__content {
    flex-direction: column;
    row-gap: 49px;
    align-items: center;
  }
}
.benefits__content .benefit {
  width: calc((100% - 58px) / 3);
}
@media (min-width: 768px) and (max-width: 1024px) {
  .benefits__content .benefit {
    width: calc((100% - 40px) / 3);
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .benefits__content .benefit {
    max-width: 280px;
    width: 100%;
  }
}
.benefits__content .benefit__title {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 42px;
  color: #2D3033;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .benefits__content .benefit__title {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 23.5px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .benefits__content .benefit__title {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 16px;
  }
}
.benefits__content .benefit__description {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #6C7279;
}
@media (min-width: 320px) and (max-width: 1024px) {
  .benefits__content .benefit__description {
    font-size: 14px;
    line-height: 16px;
  }
}
.benefits__content .benefit__image {
  margin-bottom: 51px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .benefits__content .benefit__image {
    margin-bottom: 33px;
    max-width: 85px;
    max-height: 85px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .benefits__content .benefit__image {
    margin-bottom: 30px;
    max-width: 75px;
    max-height: 75px;
  }
}

.gallery__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2px;
  margin-bottom: 114px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .gallery__grid {
    grid-template-columns: 1fr 1fr;
  }
}
.gallery__grid-link {
  position: relative;
  display: block;
}
.gallery__grid-link::before {
  content: "";
  display: block;
  padding-bottom: 89.5%;
}
.gallery__grid-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.gallery__grid-text {
  background: rgba(255, 67, 67, 0.8);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 36px;
  opacity: 0;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .gallery__grid-text {
    gap: 22px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .gallery__grid-text {
    gap: 6.5px;
  }
}
.gallery__grid-text:hover {
  opacity: 1;
}
.gallery__grid-text:active {
  opacity: 1;
  background: rgba(185, 12, 12, 0.8);
}
.gallery__grid-text .gallery_grid-title {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media (min-width: 320px) and (max-width: 1024px) {
  .gallery__grid-text .gallery_grid-title {
    font-size: 18px;
    line-height: 21px;
  }
}
.gallery__grid-text .gallery__grid-subtitle {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}
@media (min-width: 320px) and (max-width: 1024px) {
  .gallery__grid-text .gallery__grid-subtitle {
    font-size: 14px;
    line-height: 16px;
  }
}

.people {
  margin-bottom: 114px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .people {
    margin-bottom: 78px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .people {
    margin-bottom: 34px;
  }
}
.people__content {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .people__content {
    -moz-column-gap: 25px;
         column-gap: 25px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .people__content {
    flex-direction: column;
    row-gap: 49px;
    align-items: center;
  }
}
.people__content .person {
  width: calc((100% - 90px) / 4);
}
@media (min-width: 768px) and (max-width: 1024px) {
  .people__content .person {
    width: calc((100% - 75px) / 4);
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .people__content .person {
    max-width: 280px;
    width: 100%;
  }
}
.people__content .person__name {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  align-items: center;
  text-transform: capitalize;
  color: #2D3033;
  margin-bottom: 5px;
}
@media (min-width: 320px) and (max-width: 1024px) {
  .people__content .person__name {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 4.6px;
  }
}
.people__content .person__job {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #FF4343;
  margin-bottom: 18px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .people__content .person__job {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 22.45px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .people__content .person__job {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 38.5px;
  }
}
.people__content .person__description {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #6C7279;
  margin-bottom: 38px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .people__content .person__description {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 39px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .people__content .person__description {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 55px;
  }
}
.people__content .person__image-wrapper {
  margin-bottom: 30px;
  position: relative;
  padding-bottom: 100%;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .people__content .person__image-wrapper {
    margin-bottom: 25px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .people__content .person__image-wrapper {
    margin-bottom: 25px;
  }
}
.people__content .person__image-wrapper__image-wrapper::before {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.people__content .person__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
}
.people__content .person__social {
  display: flex;
  -moz-column-gap: 6px;
       column-gap: 6px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .people__content .person__social {
    -moz-column-gap: 5px;
         column-gap: 5px;
  }
}
.people__content .person__social-link {
  width: 39px;
  height: 39px;
  border: 1px solid #C6CBCD;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .people__content .person__social-link {
    width: 32px;
    height: 32px;
  }
}/*# sourceMappingURL=style.css.map */