@import 'reset';

$font-Raleway: "Raleway", sans-serif;
$color-white: #FFFFFF;
$color-gray: #BABBC5;
$color-red: #FF4343;

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    position: relative;

    @media(max-width: 1024px) {
        padding: 0 20px;
    }
}

.header {
    left: 0;
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    background: transparent;

    @media(max-width: 1024px) {
        padding: 21px 0;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $color-gray;

        @media(max-width: 767px) {
            border: none;
        }
    }

    &__menu {
        list-style: none;
        display: flex;
        justify-content: space-around;
        align-items: center;

        @media(max-width: 767px) {
            position: fixed;
            left: -100%;
            flex-direction: column;
            width: 100%;
            border-radius: 10px;
            text-align: center;
        }

        &-link {
            text-decoration: none;
            font-family: $font-Raleway;
            font-weight: 700;
            font-size: 13px;
            line-height: 15px;
            text-transform: uppercase;
            color: $color-white;
            text-align: center;
            padding: 38px 15px 36px;
            min-width: 134px;
            display: inline-block;
            border-bottom: 3px solid transparent;

            &:hover {
                border-bottom: 3px solid $color-gray;
            }

            &:active {
                border-bottom: 3px solid $color-red;
                color: $color-red;
            }

            @media(max-width: 1024px) {
                font-size: 12px;
                line-height: 14px;
                padding: 36px 0 32px;
                min-width: 112px;
            }
        }
    }

    &__hamburger {
        display: none;

        @media(max-width: 767px) {
            display: block;
        }

        &-bar {
            display: block;
            width: 24px;
            height: 3px;
            margin: 3px auto;
            background-color: $color-white;
        }
    }

    &__logo {
        @media(max-width: 767px) {
            max-width: 130px;
        }
    }
}

.banner {
    background: url(../background.jpg);
    padding: 262px 0 120px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    margin-bottom: 127px;

    @media(min-width:768px) and (max-width: 1024px) {
        padding: 316px 0 126px;
        margin-bottom: 87px;
    }

    @media(min-width: 320px) and (max-width:767px) {
        padding: 140px 0 52px;
        margin-bottom: 57px;
    }

    &::before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background: #252B49;
        mix-blend-mode: normal;
        opacity: 0.8;
        left: 0;
        top: 0;
        position: absolute;
    }

    &__title {
        font-family: $font-Raleway;
        font-weight: 900;
        font-size: 64px;
        line-height: 75px;
        text-align: center;
        text-transform: uppercase;
        color: $color-white;
        margin-bottom: 31.43px;

        @media(min-width:768px) and (max-width: 1024px) {
            font-size: 48px;
            line-height: 56px;
            margin-bottom: 62px;
        }

        @media(min-width: 320px) and (max-width:767px) {
            font-size: 36px;
            line-height: 42px;
            margin-bottom: 32.471px;
        }
    }

    &__description {
        font-family: $font-Raleway;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        color: $color-white;
        margin-bottom: 82px;

        @media(min-width:768px) and (max-width: 1024px) {
            font-size: 18px;
            line-height: 21px;
            margin-bottom: 91.57px;
        }

        @media(min-width: 320px) and (max-width:767px) {
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 51.10px;
        }
    }

    &__button {
        font-family: $font-Raleway;
        font-weight: 900;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        text-transform: uppercase;
        color: $color-white;
        background-color: $color-red;
        border: none;
        display: block;
        max-width: 370px;
        width: 100%;
        margin: 0 auto;
        padding: 26px 0;
        text-decoration: none;

        &:hover {
            background: #E71414;
        }

        &:active {
            background: #FF4343;
            box-shadow: 4px 4px 30px #FF4343;
        }

        @media(min-width:768px) and (max-width: 1024px) {
            font-size: 24px;
            line-height: 28px;
            max-width: 314px;
        }

        @media(min-width: 320px) and (max-width:767px) {
            max-width: 280px;
            padding: 16px 0;
        }
    }
}

.benefits {
    margin-bottom: 134px;

    @media(min-width:768px) and (max-width: 1024px) {
        margin-bottom: 80px;
    }

    @media(min-width: 320px) and (max-width:767px) {
        margin-bottom: 35px;
    }

    &__content {
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        column-gap: 29px;
        row-gap: 97px;

        @media(min-width:768px) and (max-width: 1024px) {
            column-gap: 20px;
            row-gap: 57px;
        }

        @media(min-width: 320px) and (max-width:767px) {
            flex-direction: column;
            row-gap: 49px;
            align-items: center;
        }

        .benefit {
            width: calc((100% - 58px) / 3);

            @media(min-width:768px) and (max-width: 1024px) {
                width: calc((100% - 40px) / 3);
            }

            @media(min-width: 320px) and (max-width:767px) {
                width: 100%;
            }

            &__title {
                font-family: $font-Raleway;
                font-weight: 900;
                font-size: 24px;
                line-height: 28px;
                text-align: center;
                text-transform: uppercase;
                margin-bottom: 42px;
                color: #2D3033;

                @media(min-width:768px) and (max-width: 1024px) {
                    font-size: 18px;
                    line-height: 21px;
                    margin-bottom: 23.5px;
                }

                @media(min-width: 320px) and (max-width:767px) {
                    font-size: 18px;
                    line-height: 21px;
                    margin-bottom: 16px;
                }
            }

            &__description {
                font-family: $font-Raleway;
                font-weight: 400;
                font-size: 18px;
                line-height: 21px;
                text-align: center;
                color: #6C7279;

                @media(min-width:320px) and (max-width: 1024px) {
                    font-size: 14px;
                    line-height: 16px;
                }
            }

            &__image {
                margin-bottom: 51px;

                @media(min-width:768px) and (max-width: 1024px) {
                    margin-bottom: 33px;
                    max-width: 85px;
                    max-height: 85px;
                }

                @media(min-width: 320px) and (max-width:767px) {
                    margin-bottom: 30px;
                    max-width: 75px;
                    max-height: 75px;
                }
            }
        }
    }
}

.gallery {
    margin-bottom: 114px;

    @media(min-width:768px) and (max-width: 1024px) {
        margin-bottom: 78px;
    }

    @media(min-width: 320px) and (max-width:767px) {
        margin-bottom: 35px;
    }

    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 2px;

        @media(min-width: 320px) and (max-width:767px) {
            grid-template-columns: 1fr 1fr;
        }

        &-link {
            position: relative;
            display: block;

            &::before {
                content: '';
                display: block;
                padding-bottom: 89.5%;
            }
        }

        &-image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }

        &-text {
            background: rgba(255, 67, 67, 0.8);
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 36px;
            opacity: 0;

            @media(min-width:768px) and (max-width: 1024px) {
                gap: 22px;
            }

            @media(min-width: 320px) and (max-width:767px) {
                gap: 6.5px;
            }

            &:hover {
                opacity: 1;
            }

            &:active {
                opacity: 1;
                background: rgba(185, 12, 12, 0.8);
            }

            .gallery_grid-title {
                font-family: $font-Raleway;
                font-weight: 900;
                font-size: 24px;
                line-height: 28px;
                text-transform: uppercase;
                color: $color-white;

                @media(min-width:320px) and (max-width: 1024px) {
                    font-size: 18px;
                    line-height: 21px;
                }
            }

            .gallery__grid-subtitle {
                font-family: $font-Raleway;
                font-size: 18px;
                line-height: 21px;
                color: #FFFFFF;

                @media(min-width:320px) and (max-width: 1024px) {
                    font-size: 14px;
                    line-height: 16px;
                }
            }
        }
    }
}

.people {
    margin-bottom: 114px;

    @media(min-width:768px) and (max-width: 1024px) {
        margin-bottom: 78px;
    }

    @media(min-width: 320px) and (max-width:767px) {
        margin-bottom: 34px;
    }

    &__content {
        display: flex;
        column-gap: 30px;

        @media(min-width:768px) and (max-width: 1024px) {
            column-gap: 25px;
        }

        @media(min-width: 320px) and (max-width:767px) {
            flex-direction: column;
            row-gap: 49px;
            align-items: center;
        }

        .person {
            width: calc((100% - 90px) / 4);

            @media(min-width:768px) and (max-width: 1024px) {
                width: calc((100% - 75px) / 4);
            }

            @media(min-width: 320px) and (max-width:767px) {
                width: 100%;
            }

            &__name {
                font-family: $font-Raleway;
                font-weight: 700;
                font-size: 24px;
                line-height: 28px;
                align-items: center;
                text-transform: capitalize;
                color: #2D3033;
                margin-bottom: 5px;

                @media(min-width:320px) and (max-width: 1024px) {
                    font-size: 18px;
                    line-height: 21px;
                    margin-bottom: 4.6px;
                }
            }

            &__job {
                font-family: $font-Raleway;
                font-weight: 400;
                font-size: 18px;
                line-height: 21px;
                text-transform: uppercase;
                color: $color-red;
                margin-bottom: 18px;

                @media(min-width:768px) and (max-width: 1024px) {
                    font-size: 14px;
                    line-height: 16px;
                    margin-bottom: 22.45px;
                }

                @media(min-width: 320px) and (max-width:767px) {
                    font-size: 14px;
                    line-height: 16px;
                    margin-bottom: 38.5px;
                }
            }

            &__description {
                font-family: $font-Raleway;
                font-weight: 400;
                font-size: 18px;
                line-height: 21px;
                color: #6C7279;
                margin-bottom: 38px;

                @media(min-width:768px) and (max-width: 1024px) {
                    font-size: 14px;
                    line-height: 16px;
                    margin-bottom: 39px;
                }

                @media(min-width: 320px) and (max-width:767px) {
                    font-size: 14px;
                    line-height: 16px;
                    margin-bottom: 55px;
                }
            }

            &__image-wrapper {
                margin-bottom: 30px;
                position: relative;
                padding-bottom: 100%;

                @media(min-width:768px) and (max-width: 1024px) {
                    margin-bottom: 25px;
                }

                @media(min-width: 320px) and (max-width:767px) {
                    margin-bottom: 25px;
                }

                &__image-wrapper::before {
                    content: '';
                    display: block;
                    padding-bottom: 100%;
                }
            }

            &__image {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                left: 0;
                top: 0;
            }

            &__social {
                display: flex;
                column-gap: 6px;

                @media(min-width:768px) and (max-width: 1024px) {
                    column-gap: 5px;
                }

                &-link {
                    width: 39px;
                    height: 39px;
                    border: 1px solid #C6CBCD;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    @media(min-width:768px) and (max-width: 1024px) {
                        width: 32px;
                        height: 32px;
                    }
                }
            }
        }
    }
}